$height: 70vh;
$opacity: .85;

.banner {
  @extend .row;

  height: $height;
  background: rgba(255,255,255,$opacity);
  position: relative;

  h2 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 3rem;
    text-transform: uppercase;

    a {
      display: block;
      font-size: 1rem;
      font-family: $text-font-stack;
      font-weight: 400;
    }
  }
  
  .banner-background {
    position: absolute;
    bottom: 0;
    height: $height;
    width: 100%;
    background-image: url('./dist/imgs/header.jpg');
    background-repeat: none;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    z-index: -1;
    display: block;
  }
}