header {
  @extend .row;
  @extend .expanded;

  width: 100%;
  padding: 1rem 0;
  // margin-bottom: 1rem;
  overflow: hidden;
  position: relative;

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 2.5rem;
  }

  .site-title img {
    background: $text-color;
  }

  nav {
    ul {
      padding: 0;
      margin: 0;
    }

    .menu li {
      list-style: none;
      display: inline-block;

      a {
        font-weight: 300;
        padding: 1rem 1rem;
        margin: 0;
        transition: .25s;
        color: $text-color;

        font-family: $title-font-stack;
        text-transform: uppercase;
        letter-spacing: 1px;

        @include on-event {
          background: $text-color;
          color: #fff;
          transform: scale(1.07);
        }
      }
    }
  }
}

header.pages {
  .site-title {
    @extend .columns;
    @extend .large-2;

    img {
      height: 48px;
    }
  }

  nav {
    @extend .columns;
    @extend .large-10;
    ul {
      float: right;
      text-align: right;
    }
  }

  padding: 1.75rem 0;
}

header.landing {
  $height: 95vh;
  $opacity: .9;

  height: $height;
  background: rgba(255,255,255,$opacity);
  margin-bottom: 3px;

  &:before {
    position: absolute;
    bottom: 0;
    height: $height;
    width: 100vw;
    background-image: url('./dist/imgs/header.jpg');
    background-repeat: none;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    z-index: -1;
  }

  .site-title {
    @extend .row;
    text-align: center;
    img {
      margin-top: 10vh;
      height: 50vh;
      margin-bottom: 1rem;
    }
  }
  nav {
    @extend .row;
    text-align: center;

    .menu li a {
      font-size: 3vh;
    }
  }
}

.screen-reader-text {
  display: none;
}