header {
  @extend .row;
  @extend .expanded;

  width: 100%;
  padding: 1rem 0;
  // margin-bottom: 1rem;
  overflow: hidden;
  position: relative;

  h1 {
    @extend .columns;
    @extend .large-2;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 2.5rem;
  }

  nav {
    @extend .columns;
    @extend .large-10;

    ul {
      padding: 0;
      margin: 0;
      float: right;
      text-align: right;
    }

    .menu li {
      list-style: none;

      a {
        &::before {
          content: "+ ";
        }
        font-weight: 300;
        padding: 1rem 1rem;
        margin: 0;
      }
    }

  }
}

.screen-reader-text {
  display: none;
}