header {
  padding: 1rem 0;
  // margin-bottom: 1rem;
  overflow: hidden;
  position: relative;

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 2.5rem;
  }

  .site-title img {
    background: $text-color;
  }

  nav {
    ul {
      padding: 0;
      margin: 0;
    }

    .menu li {
      list-style: none;
      display: inline-block;

      a {
        font-weight: 300;
        padding: 1rem 1rem;
        margin: 0;
        transition: .25s;
        color: $text-color;

        font-family: $title-font-stack;
        text-transform: uppercase;
        letter-spacing: 1px;

        @include on-event {
          background: $text-color;
          color: #fff;
          transform: scale(1.07);
        }
      }
    }
  }
}

header.header-pages {
  @extend .row;

  .site-title {
    @extend .columns, .large-2;

    img {
      height: 48px;
    }
  }

  nav {
    @extend .columns, .large-10;
    ul {
      float: right;
      text-align: right;
    }
  }

  padding: 1.75rem 0;
}

.screen-reader-text {
  display: none;
}