// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

main.site-main {
  @extend .row;
  // @extend .expanded;

  padding: 0;

  #freewall {
    // border-bottom: 5px solid #333;
    // border-top: 5px solid #333;
    padding-bottom: 3px;
  }

  .brick {
    position: relative;
    img { width: 100%; }

    .paint {
      transition: .2s;
      position: absolute;
      bottom: 0;
      font-weight: 700;
      font-size: 1.5rem;
      color: #fff;
      background: rgba(255,255,255,.80);
      height: 100%;
      width: 100%;
      vertical-align: middle;
      padding: .5rem;
      opacity: 0;


      title {
        transition: .3s;
        position: absolute;
        bottom: -1rem;
        left: 1rem;
        color: $text-color;
        display: block;
        letter-spacing: 1px;
        font-family: $title-font-stack;
        text-transform: uppercase;
      }
    }

    a {
      @include on-event {
        .paint {
          opacity: 1;
          title {
            bottom: 1rem;
          }
        }
      }
    }
  }
}

header.header-landing {
  @extend .row;
  @extend .expanded;

  $header-height: 95vh;
  $header-opacity: .9;

  height: $header-height;
  background: rgba(255,255,255,$header-opacity);
  margin-bottom: 3px;

  .header-background {
    position: absolute;
    bottom: 0;
    height: $header-height;
    width: 100vw;
    // background-image: url('./dist/imgs/header.jpg');
    background-repeat: none;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    z-index: -1;
  }

  .site-title {
    // @extend .row;
    // @extend .column;
    text-align: center;
    margin: 0 auto;
    img {
      margin-top: 10vh;
      height: 50vh;
      margin-bottom: 1rem;
    }
  }
  
  .site-nav {
    // @extend .row;
    // @extend .column;
    text-align: center;
    margin: 0 auto;

    .menu li a {
      font-size: 3vh;
    }
  }
}