// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

main.site-main {
  @include grid-row(null, null, expand);
  // @extend .expanded;

  padding: 0;

  #freewall {
    // border-bottom: 5px solid #333;
    // border-top: 5px solid #333;
    padding-bottom: 3px;
  }

}

.header-landing {
  @include grid-row(null, null, expand);

  $header-height: 95vh;
  $header-opacity: .9;

  height: $header-height;
  background: rgba(255,255,255,$header-opacity);
  margin-bottom: 3px;

  .header-background {
    position: absolute;
    bottom: 0;
    height: $header-height;
    width: 100vw;
    // background-image: url('./dist/imgs/header.jpg');
    background-repeat: none;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    z-index: -1;
  }

  .site-title {
    @include grid-column-row;
    // @include grid-column;
    text-align: center;
    img {
      margin-top: 10vh;
      height: 50vh;
      margin-bottom: 1rem;
    }
  }
  
  nav {
    @include grid-column-row;
    // @include grid-column;
    text-align: center;
    // margin: 0 auto;
    margin-top: 1.5rem;

    .menu li a {
      font-size: 3vh;
    }
  }

  nav:last-child:not(:first-child) {
    float: none;
  }
}