$banner-height: 40vh;

.banner-page {
  height: $banner-height;
  .banner-background {
    height: $banner-height;
  }
}

.entry-content {
  @include grid-column(8);
  @include grid-column-offset(2);

  @include breakpoint(medium down) {
    @include grid-column-size(100%);
    @include grid-column-offset(0);
  }
}

.entry-content {
}

.editbar {
  @include grid-row;
  @include grid-column;
}