$banner-height: 40vh;

.page > .banner {
  height: $banner-height;
  .banner-background {
    height: $banner-height;
  }
}

.entry-content {
  @extend .columns;
  @extend .large-10;
  @extend .large-offset-1;
}