$banner-height: 40vh;

.page-main {
  @include grid-row;
}

.banner-page {
  height: $banner-height;
  .banner-background {
    height: $banner-height;
  }
}

.entry-content {
  @include grid-column(8);
  @include grid-column-offset(2);

  @include breakpoint(medium down) {
    @include grid-column-size(100%);
    @include grid-column-offset(0);
  }
}

.edit-bar {
  @include grid-column-row;
}