main.project-main {
  @extend .row;

  .content {
    @extend .row;
    margin-top: 2rem;
  }

  .description {
    @extend .columns;
    @extend .large-4;
  }

  .media {
    @extend .columns;
    @extend .large-8;
  }

  .thumbs-list {
    @extend .row;
    @extend .small-up-1;
    @extend .medium-up-2;
    @extend .large-up-2;

  }
  
  .thumbs-item {
    @extend .column;
    @extend .column-block;

    img {
      opacity: 1;
      transition: .3s;
      overflow: hidden;
      @include on-event {
        opacity: .5;
        transform: scale(.95);
      }
    }
  }

  .gallery {
    @extend .row;
  }

  .video {
    @extend .row;

    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 2rem;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

}

// $banner-opacity: .5;
// .project-main .banner {
//   background: rgba(255,255,255,$banner-opacity);
// }